# 构建结果
[Bb]in/
[Oo]bj/

# 用户特定文件
*.user
*.userosscache
*.suo
*.userprefs

# Visual Studio / Visual Studio Code 文件
.vs/
.vscode/
*.vspscc
*.vssscc
.vsconfig
*_i.c
*_p.c
*.pidb
*.log
*.tlog
*.scc

# ReSharper 文件
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# 测试结果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet 包
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# 发布输出
[Pp]ublish/
*.[Pp]ublish.xml
*.pubxml
*.publishproj

# 其他
.DS_Store
Thumbs.db 